.faq-card{
    width: 25vw;
    height: 25vw;

    background-color: rgb(var(--off-white));
    z-index: 1;
}

.faq-card-container{
    width: 90%;
    height: 90%;

    /* border: 4px solid rgb(var(--pure-black)); */

    padding: 1vw;
    position: relative;
}

.faq-question{
    text-align: left;
    font-size: 1.5vw;
    color: rgb(var(--pure-black));
}

.faq-answer{
    padding-top: 1vw;
    text-align: left;
    font-size: 1vw;

    color: rgb(var(--pure-black));
    font-weight: 300;
}

.faq-floral{
    position: absolute;
    right: 0;
    bottom: 0;

    padding-right: 1vh;
}

.faq-related-icons{
    position: absolute;
    bottom: 1vh;
    gap: 1vw;
}