.review-card {
  height: 20vh;
  aspect-ratio: 3/2;
  flex-shrink: 0;
  position: relative;
}

.review-card-view-box {
  position: absolute;
  width: 100%;
  height: 100%;

  background: rgb(var(--pure-black),0.4);
  backdrop-filter: blur(4px);
}

.review-content{
  width: 90%;
  height: 90%;
  position: relative;
}
.review-text{
  width: 100%;
  height: 70%;
  overflow: hidden;
  color: rgb(var(--off-white));
  font-weight: 300;
}

.review-rating{
    position: absolute;
  bottom: 2vh;
  left: 0;
}

.review-date{
  position: absolute;
  bottom: 0;
  left: 0;
    color: rgb(var(--pure-white));
  font-weight: 300;
}

.review-username{
  color: rgb(var(--pure-white));
  font-size: 1vw;
  font-weight: 300;
    position: absolute;
  bottom: 2vh;
  right: 0vh;
}

.review-location{
  color: rgb(var(--pure-white));
  font-weight: 300;
  position: absolute;
  bottom: 0vh;
  right: 0vh;
}

.review-ratings-star {
  position: absolute;
  top: 0%;
}

.review-card-date {
  position: absolute;
  top: 0%;
  right: 20%;

  font-size: 0.875vw;
  text-align: right;

  color: rgb(var(--off-text));
}

/* .review-text {
  width: 80%;
  height: 60%;

  text-wrap-mode: wrap;

  font-size: 0.875vw;
  color: rgb(var(--off-black));

  overflow-y: hidden;

  position: absolute;
  top: 15%;
} */

.review-customer-image {
  width: 2vw;
  height: 2vw;

  border-radius: 50%;

  background: rgb(var(--light-olive));

  position: absolute;

  top: 75%;
}

.review-customer-name {
  position: absolute;
  top: 72.5%;
  left: 15%;

  font-size: 1.25vw;
}

.review-customer-location {
  position: absolute;
  top: 85%;
  left: 15%;

  font-size: 0.875vw;

  color: rgb(var(--off-text));
}
