@font-face {
  font-family: Milchella;
  src: url(../../fonts/Milchella-Regular.ttf);
}

/* ---------------------------------Hero page-------------------------------- */

.hero {
  z-index: 1;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;

  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
}

.hero-ll {
  grid-row: 6 / span 26;
  grid-column: 1 / span 11;
  border-right: rgb(var(--off-white)) solid 0.1vw;
  border-bottom: rgb(var(--off-white)) solid 0.1vw;
  border-top: rgb(var(--off-white)) solid 0.1vw;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */

  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: repeat(11, 1fr);
  text-align: left;
}

.hero-ll-head {
  grid-column: 3 / span 8;
  grid-row: 11 / span 6;
  font-size: 1.7vw;
}

.hero-ll-points1 {
  grid-column: 3 / span 8;
  grid-row: 17 / span 3;
  font-size: 1.5vw;
}

.hero-ll-points2 {
  grid-column: 3 / span 8;
  grid-row: 20 / span 3;
  font-size: 1.5vw;
}

.hero-ll-text {
  grid-column: 3 / span 8;
  grid-row: 23 / span 4;
  font-size: 1.125vw;
  line-height: 100%;
  color: rgb(var(--off-black));
}

.hero-ll-svg {
  grid-column: 1 / span 1;
  grid-row: 26 / span 1;
}

.hero-ml {
  grid-row: 6 / span 26;
  grid-column: 12 / span 9;
  border-right: rgb(var(--off-white)) solid 1px;
  border-bottom: rgb(var(--off-white)) solid 1px;
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: repeat(9, 1fr);
  text-align: left;
  transition: transform 0.3s ease;
}

.hero-ml:hover {
  backdrop-filter: blur(0.5vw);
  filter: saturate(2);
  transform: scale(1.05);
}

.hero-ml-head {
  padding: 1vw;
  grid-column: 1 / span 9;
  grid-row: 1 / span 6;
  font-size: 1.7vw;
}

.hero-ml-text {
  padding: 1vw;
  grid-column: 1 / span 9;
  grid-row: 7 / span 6;
  font-size: 1.125vw;
  line-height: 110%;
  color: rgb(var(--off-black));
}

.hero-ml-svg {
  grid-column: 1 / span 1;
  grid-row: 26 / span 1;
}

.hero-mr {
  grid-row: 6 / span 26;
  grid-column: 21 / span 9;
  border-right: rgb(var(--off-white)) solid 1px;
  border-bottom: rgb(var(--off-white)) solid 1px;
  /* background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: repeat(9, 1fr);
  text-align: right;
  color: rgb(var(--pure-white));
  font-weight: 300;
  transition: transform 0.3s ease;
}

.hero-mr:hover {
  backdrop-filter: blur(0.5vw);
  filter: saturate(2);
  transform: scale(1.05);
}

.hero-mr-head {
  padding: 1vw;
  grid-column: 1 / span 9;
  grid-row: 1 / span 6;
  font-size: 1.7vw;
}

.hero-mr-text {
  padding: 1vw;
  grid-column: 1 / span 9;
  grid-row: 7 / span 6;
  font-size: 1.125vw;
  line-height: 110%;
  color: rgb(var(--off-white));
}

.hero-mr-svg {
  grid-column: 9 / span 1;
  grid-row: 26 / span 1;
}

.hero-rr {
  grid-row: 6 / span 26;
  grid-column: 30 / span 11;
  border-right: rgb(var(--off-white)) solid 0.1vw;
  border-bottom: rgb(var(--off-white)) solid 0.1vw;
  border-top: rgb(var(--off-white)) solid 0.1vw;
  /* background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  ); */
  display: grid;
  grid-template-rows: repeat(26, 1fr);
  grid-template-columns: repeat(11, 1fr);
  text-align: right;
  color: rgb(var(--pure-white));
  font-weight: 300;
}

.hero-rr-head {
  grid-column: 1 / span 9;
  grid-row: 11 / span 6;
  font-size: 1.7vw;
}

.hero-rr-points1 {
  grid-column: 1 / span 9;
  grid-row: 17 / span 3;
  font-size: 1.5vw;
}

.hero-rr-points2 {
  grid-column: 1 / span 9;
  grid-row: 20 / span 3;
  font-size: 1.5vw;
}

.hero-rr-text {
  grid-column: 1 / span 9;
  grid-row: 23 / span 4;
  font-size: 1.125vw;
  line-height: 100%;
  color: rgb(var(--off-white));
}

.hero-rr-svg {
  grid-column: 11 / span 1;
  grid-row: 26 / span 1;
}

.hero-name {
  grid-row: 33 / span 8;
  grid-column: 1 / span 40;
  font-size: 10vw;
  color: rgb(var(--pure-white));
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-bottom: 1vw;
}

/* ---------------------------------whychooseus page-------------------------------- */

.why-choose-us {
  width: 100%;
  height: 85vh;

  display: grid;
  grid-template-rows: repeat(34, 1fr);
  grid-template-columns: repeat(40, 1fr);
}

.wcu-header {
  grid-row: 14 / span 5;
  grid-column: 10 / span 22;
  font-size: 6.5vw;
}

.wcu-tags:nth-of-type(2) {
  grid-row: 7 / span 3;
  grid-column: 8 / span 5;
  font-size: 1.25vw;

  border-radius: 100vw;
  justify-content: center;
  z-index: 1;
}

.wcu-tags:nth-of-type(3) {
  grid-row: 5 / span 3;
  grid-column: 19 / span 9;
  font-size: 1.25vw;

  border-radius: 100vw;
  justify-content: center;
  z-index: 1;
}

.wcu-tags:nth-of-type(4) {
  grid-row: 9 / span 3;
  grid-column: 32 / span 7;
  font-size: 1.25vw;

  border-radius: 100vw;
  justify-content: center;
  z-index: 1;
}

.wcu-tags:nth-of-type(5) {
  grid-row: 24 / span 3;
  grid-column: 27 / span 9;
  font-size: 1.25vw;

  border-radius: 100vw;
  justify-content: center;
  z-index: 1;
}

.wcu-tags:nth-of-type(6) {
  grid-row: 26 / span 3;
  grid-column: 12 / span 10;
  font-size: 1.25vw;

  border-radius: 100vw;
  justify-content: center;
  z-index: 1;
}

.wcu-tags:nth-of-type(7) {
  grid-row: 17 / span 3;
  grid-column: 3 / span 6;
  font-size: 1.25vw;

  border-radius: 100vw;
  justify-content: center;
  z-index: 1;
}

/* ---------------------------------Newest Arrivals page-------------------------------- */

.na {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.na-marquee {
  width: auto;
  height: 100vh;
  position: absolute;
  top: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: -1;
}
.na-marq {
  width: auto;
  height: 100vh;
  font-size: 15vw;
  text-wrap-mode: nowrap;
  display: flex;
  align-items: center;
}

.newest-arrivals {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 1;

  border-radius: 1vh;
  background: rgb(var(--light-olive));
  /* transition: all 0.3s ease; */
}

.na-buffer {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.na-container {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(var(--pure-black), 1);
  flex-direction: row;
  color: rgb(var(--pure-white));
}

.na-panel-1 {
  width: 150vw;
  height: 100vh;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(60, 1fr);
  background-color: rgba(var(--pure-black), 0);
}

.nap1-vertical-text {
  grid-row: 10 / span 15;
  grid-column: 3 / span 3;
  padding-left: 1vh;

  writing-mode: vertical-lr;

  font-size: 1.75vw;
  line-height: 100%;

  position: relative;
  z-index: 2;
}

.nap1-button-1 {
  grid-row: 17 / span 4;
  grid-column: 5 / span 6;
}

.nap1-tertiary-text-up {
  grid-row: 25 / span 2;
  grid-column: 3 / span 16;
  padding-left: 1vh;
  font-family: Milchella;
  font-size: 2.25vw;
  color: rgb(var(--light-olive));
}

.nap1-tertiary-text-bottom {
  grid-row: 30 / span 2;
  grid-column: 3 / span 10;
  padding-left: 1vh;
  font-size: 2.25vw;

}

.nap1-tertiary-text {
  grid-row: 33 / span 2;
  grid-column: 3 / span 13;
  padding-left: 1vh;
  font-size: 1vw;
  font-weight: 200;
  color: rgba(var(--off-white), 0.4);
}

.nap1-tagline-secondary {
  grid-row: 10 / span 5;
  grid-column: 7 / span 14;
  text-wrap-mode: nowrap;
  font-family: Milchella;
  font-size: 6vw;
  color: rgb(var(--light-olive));
}

.nap1-tagline-main {
  grid-row: 15 / span 10;
  grid-column: 11 / span 40;
  text-wrap-mode: nowrap;
  font-family: Milchella;
  font-size: 15vw;
}

.nap1-product-image1 {
  grid-row: 20 / span 8;
  grid-column: 20 / span 4;
  background-color: aqua;

  overflow: hidden;
  position: relative;
  z-index: -1;

  transform: rotate(15deg);
}

.nap1-product-image2 {
  grid-row: 6 / span 17;
  grid-column: 31 / span 8;

  overflow: hidden;
  position: relative;

  z-index: -1;
}

.nap1-p2 {
  width: 98%;
  aspect-ratio: 1/1;
  background-color: aqua;
  border-radius: 50%;
  overflow: hidden;
}

.nap1-product-image3 {
  grid-row: 20 / span 13;
  grid-column: 45 / span 7;
  background-color: aqua;

  overflow: hidden;
  position: relative;
  z-index: -1;
  transform: rotate(-15deg);
}

.nap1-centre-text {
  grid-row: 25 / span 2;
  grid-column: 31 / span 11;
  font-size: 1vw;
  font-weight: 200;
  color: rgba(var(--off-white), 0.4);
}

.nap1-centre-heading1 {
  grid-row: 30 / span 2;
  grid-column: 31 / span 10;
  font-size: 3vw;
}

.nap1-centre-heading2 {
  grid-row: 33 / span 2;
  grid-column: 31 / span 10;
  font-size: 1.75vw;
  font-weight: 100;
}

.nap1-button-2 {
  grid-row: 31 / span 4;
  grid-column: 36 / span 6;

  padding-left: 1vw;
}

.na-panel-2 {
  width: 150vw;
  height: 100vh;
  flex-shrink: 0;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(60, 1fr);
  background-color: rgba(var(--pure-black), 0);
}

.nap2-left-bar {
  grid-row: 1 / span 40;
  grid-column: 1 / span 10;
  background: url("/BGPrimary.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: grayscale(1);
}

.nap2-left-bar-image {
  grid-row: 10 / span 25;
  grid-column: 4 / span 15;
  z-index: 1;
  background: url("/BGPrimary.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nap2-right-bar {
  grid-row: 1 / span 40;
  grid-column: 51 / span 10;
  background: url("/BGPrimary.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  filter: grayscale(1);
}

.nap2-right-bar-image {
  grid-row: 10 / span 25;
  grid-column: 43 / span 15;
  z-index: 1;
  background: url("/BGPrimary.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.nap2-marquee1 {
  grid-row: 1 / span 40;
  grid-column: 4 / span 27;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-family: Milchella;
}

.nap2-marq1 {
  text-wrap-mode: nowrap;
  font-size: 8vw;
  color: rgb(var(--pure-black));
}

.nap2-marquee2 {
  grid-row: 1 / span 40;
  grid-column: 31 / span 22;
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-family: Milchella;
  /* background-color: aqua; */
}

.nap2-marq2 {
  text-wrap-mode: nowrap;
  font-size: 8vw;
  color: rgb(var(--pure-black));
}

.nap2-collections-cargo {
  grid-row: 7 / span 30;
  grid-column: 23 / span 8;
  /* background-color: aqua; */

  border-right: 0.1vw solid rgb(var(--off-white));
}

.nap2-cc-heading1 {
  width: 100%;
  height: 5%;
  font-size: 1.25vw;
  text-align: center;
  color: rgba(var(--off-white), 0.5);
}

.nap2-cc-heading2 {
  width: 100%;
  height: 25%;
  font-size: 4vw;
  text-align: center;
  font-family: Milchella;
  border-bottom: 0.1vw solid rgb(var(--off-white));
}

.nap2-cc-brand {
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 0.1vw solid rgb(var(--off-white));
  filter: saturate(10);
  transform-origin: right center;
  transition: transform 0.3s ease;
}

.nap2-cc-brand:hover{
  transform: scale(1.1);
}

.nap2-cc-brand-serial{
  font-size: 0.875vw;
  position: absolute;
  top: 0;
  left: 0;
}

.nap2-cc-brand-name{
  font-size: 2.25vw;
  position: absolute;
  right: 1vw;
}

.nap2-collections-suits {
  grid-row: 7 / span 30;
  grid-column: 31 / span 8;
  border-left: 0.1vw solid rgb(var(--off-white));
}

.nap2-cs-heading1 {
  width: 100%;
  height: 5%;
  font-size: 1.25vw;
  text-align: center;
  color: rgba(var(--off-white), 0.5);
}

.nap2-cs-heading2 {
  width: 100%;
  height: 25%;
  font-size: 4vw;
  text-align: center;
  font-family: Milchella;
  border-bottom: 0.1vw solid rgb(var(--off-white));
}

.nap2-cs-brand {
  width: 100%;
  height: 10%;

  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 0.1vw solid rgb(var(--off-white));
  filter: saturate(10);
  transform-origin: left center;
  transition: transform 0.3s ease;
}

.nap2-cs-brand:hover{
  transform: scale(1.1);
}

.nap2-cs-brand-serial{
  font-size: 0.875vw;
  position: absolute;
  top: 0;
  left: 0;
}

.nap2-cs-brand-name{
  font-size: 2.25vw;
  position: absolute;
  right: 1vw;
}

.na-panel-3 {
  flex-shrink: 0;
  width: 300vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(40,1fr);
  grid-template-columns: repeat(120,1fr);

}

.na-cards-container{
  grid-row: 7 / span 32;
  grid-column: 6 / span 100;
  position: relative;

  display: flex;
}

.na-cards{
  width: 25vw;
  height: 80vh;
  flex-shrink: 0;
  position: relative;
}

.nap3-end{
  grid-row: 7 / span 32;
  grid-column: 107 / span 11;
  flex-shrink: 0;
  position: relative;

  display: grid;
  grid-template-rows: repeat(30,1fr);
  grid-template-columns: repeat(10,1fr);

  font-size: 6vw;
  font-family: Milchella;
}

.nap3-end-top-text{
  grid-row: 1 / span 6;
  grid-column: 1 / span 10;
  text-align: center;
}

.nap3-end-button{
  grid-row: 10 / span 3;
  grid-column: 3 / span 6;

}

.nap3-end-bottom-text1{
  grid-row: 11 / span 20;
  grid-column: 1 / span 2;

  writing-mode: sideways-lr;
}

.nap3-end-bottom-text2{
  grid-row: 14 / span 20;
  grid-column: 3 / span 2;

  writing-mode: sideways-lr;
}

.nap3-end-bottom-text3{
  grid-row: 15 / span 20;
  grid-column: 5 / span 2;

  writing-mode: sideways-lr;
}

.nap3-end-bottom-text4{
  grid-row: 14 / span 20;
  grid-column: 7 / span 2;

  writing-mode: sideways-lr;
}

.nap3-end-bottom-text5{
  grid-row: 6 / span 25;
  grid-column: 9 / span 2;

  writing-mode: sideways-lr;
}
/* ---------------------------------Best Sellers page-------------------------------- */

.best-sellers {
  width: 100vw;
  height: 165vh;

  display: grid;
  grid-template-rows: repeat(66, 1fr);
  grid-template-columns: repeat(40, 1fr);
  background: rgb(var(--light-olive));
}

.bs-sidebar {
  grid-row: 1 / span 66;
  grid-column: 1 / span 4;
  background: rgb(var(--dark-olive));
  text-wrap-mode: nowrap;
  overflow: hidden;
}

.bs-sidebar-text {
  width: 100%;
  height: auto;
  color: rgb(var(--light-olive));
  font-size: 8vw;
  writing-mode: vertical-lr;
}

.bs-display {
  grid-row: 1 / span 66;
  grid-column: 5 / span 36;
  background: rgb(var(--light-olive));

  display: grid;
  grid-template-rows: repeat(66, 1fr);
  grid-template-columns: repeat(36, 1fr);
  position: relative;

  z-index: 1;
}

.bsdc-cards {
  grid-row: 11 / span 22;
  grid-column: 1 / span 36;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-x: scroll;

  border-bottom: 0.1vw solid rgb(var(--off-white));
}

.bsdc-cards::-webkit-scrollbar {
  display: none;
}
.bsds-cards::-webkit-scrollbar {
  display: none;
}
.bsd-cargo-header {
  grid-row: 6 / span 4;
  grid-column: 1 / span 36;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  /* border-bottom: 0.5vh solid rgb(var(--dark-olive));
  border-top: 0.5vh solid rgb(var(--dark-olive)); */
}

.bsdch-text {
  position: absolute;
  left: 2.5vw;
  font-size: 3vw;
  color: rgb(var(--dark-olive));
  display: flex;
}

.bsdch-button-show-all {
  position: absolute;
  right: 15vw;
}

.bsdch-button-left {
  position: absolute;
  right: 9vw;

  width: 6vh;
  height: 6vh;
  border-radius: 50%;

  background-color: rgba(var(--dark-olive), 1);
}

.bsdch-button-right {
  position: absolute;
  right: 5vw;

  width: 6vh;
  height: 6vh;
  border-radius: 50%;

  background-color: rgba(var(--dark-olive), 1);

  transform: rotate(180deg);
}

.svg-floral {
  position: relative;
  top: 0.5vh;
}

.bsd-suits-header {
  grid-row: 35 / span 4;
  grid-column: 1 / span 36;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bsds-cards {
  grid-row: 40 / span 22;
  grid-column: 1 / span 36;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  overflow-x: scroll;
}

.bsds-cards::-webkit-scrollbar {
  visibility: hidden;
}

.bsdsh-text {
  position: absolute;
  left: 2.5vw;
  font-size: 3vw;
  color: rgb(var(--dark-olive));
  display: flex;
}

.bsdsh-button-show-all {
  position: absolute;
  right: 15vw;
}

.bsdsh-button-left {
  position: absolute;
  right: 9vw;

  width: 6vh;
  height: 6vh;
  border-radius: 50%;

  background-color: rgba(var(--dark-olive), 1);
}

.bsdsh-button-right {
  position: absolute;
  right: 5vw;

  width: 6vh;
  height: 6vh;
  border-radius: 50%;

  background-color: rgba(var(--dark-olive), 1);

  transform: rotate(180deg);
}

/* ---------------------------------Ratings and Reviews page-------------------------------- */

.ratings-reviews {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
}

.rr-header-left {
  grid-row: 6 / span 11;
  grid-column: 3 / span 12;

  font-size: 6vw;
}

.rr-header-right {
  grid-row: 28 / span 11;
  grid-column: 20 / span 19;

  font-size: 6vw;

  text-align: right;
}

.rr-reviews-line1 {
  grid-row: 7 / span 10;
  grid-column: 16 / span 25;

  z-index: 1;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.rr-reviews-line2 {
  grid-row: 18 / span 10;
  grid-column: 1 / span 40;

  z-index: 1;

  display: flex;
  align-items: center;

  overflow: hidden;
}

.rr-reviews-line3 {
  grid-row: 29 / span 10;
  grid-column: 1 / span 19;

  z-index: 1;

  display: flex;
  align-items: center;

  overflow: hidden;
}
/* ---------------------------------Faqs page-------------------------------- */

.faqs {
  width: 100vw;
  height: auto;
}

.faqs-header {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
}

.faqs-text {
  grid-row: 6 / span 4;
  grid-column: 3 / span 36;
  font-size: 2.25vw;
  color: rgb(var(--light-olive));
  text-align: center;
  z-index: 1;
}

.faqs-heading {
  grid-row: 10 / span 4;
  grid-column: 3 / span 36;
  font-size: 20vw;
  text-align: center;
  z-index: -1;
}

.faqs-cards {
  width: 100vw;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
