.dashboard {
  width: 100vw;
  height: 100vh;
}

.dashboard-header{
  width: 80vw;
  height: 12.5vh;
  border-bottom: 0.1vw solid rgb(var(--pure-black));

  font-size: 1.25vw;
  font-weight: 600;


  display: flex;
  align-items: end;
  justify-content: left;
  padding: 0 0 1vw 5vw;
}

.dashboard-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background: rgb(var(--pure-white));
}

.dashboard-sidebar-header {
  width: 100%;
  height: 12.5vh;
  border-bottom: 0.1vw solid rgb(var(--pure-black));

  font-size: 1.25vw;
  font-weight: 600;

  display: flex;
  align-items: end;
  justify-content: right;
  padding: 0 2.5vw 1vw 0;
}

.ds-user-name {
  width: 100%;
  height: 7.5vh;
  font-size: 1vw;
  font-weight: 500;

  display: flex;
  align-items: end;
  justify-content: right;
  padding: 0 2.5vw 1vw 0;
}

.ds-user-email {
  width: 100%;
  height: 3vh;
  font-size: 1vw;
  font-weight: 400;
  color: rgb(var(--off-text));
  display: flex;
  align-items: end;
  justify-content: right;
  padding: 0 2.5vw 1vw 0;
}

.ds-info-box {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: right;
  padding: 0 2.5vw 1vw 2vw;
}

.ds-info-box-header {
  font-size: 1vw;
  font-weight: 500;
}

.ds-info-box-content {
  text-align: right;
  font-size: 1vw;
  font-weight: 400;
  color: rgb(var(--off-text));
}

.ds-logout {
  position: absolute;
  bottom: 12.5vh;

  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: right;
  border-top: 0.1vw solid rgb(var(--pure-black));
  border-bottom: 0.1vw solid rgb(var(--pure-black));
  padding-right: 2.5vw;
}

.ds-logout-button {
  font-size: 1.25vw;
  font-weight: 500;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.ds-logout-button:hover{
  transform: scale(1.1);
}

.ds-buffer {
  width: 100%;
  height: 12.5vh;
  position: absolute;
  bottom: 0;
}

.dashboard-nav {
  position: absolute;
  left: 5vw;
  top: 20vh;
  width: 70vw;
  height: 40vh;
  border-radius: 1vw;
}

.dashboard-cart{
  width: 100%;
  height: 10vh;
  border-radius: 1vw;
  background: rgb(var(--pure-white));
  margin: 1vw;

  display: flex;
  align-items: center;
  justify-content: space-around;

  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dashboard-cart:hover{
  transform: scale(1.025);
}

.dashboard-wishlists{
  width: 100%;
  height: 10vh;
  border-radius: 1vw;
  background: rgb(var(--pure-white));
  margin: 1vw;
    display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dashboard-wishlists:hover{
  transform: scale(1.025);
}

.dashboard-nav-header{
  width: 15%;
  font-size: 1.25vw;
  font-weight: 500;
  /* background: rgb(var(--off-white)); */
}

.dashboard-nav-price{
  width: 15%;
  font-size: 1vw;
  font-weight: 400;
  /* background: rgb(var(--off-white)); */
}

.dashboard-nav-items{
  width: 15%;
  font-size: 1vw;
  font-weight: 400;
  /* background: rgb(var(--off-white)); */
}