.landing {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(80, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 0;
  background: linear-gradient(
    90deg,
    rgb(var(--blue)) 0%,
    rgb(var(--blue)) 50%,
    #f95700 50%,
    #ff91b5 60%,
    #ff6a9b 75%,
    #ff91b5 87.5%,
    #f95700 100%
  );
}

.landing-sold-box {
  grid-row: 6 / span 5;
  grid-column: 23 / span 25;
  border-radius: 2.5vw;
  position: relative;
}

.landing-sold-box-count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1vw;
}

.landing-ai-card {
  grid-row: 26 / span 13;
  grid-column: 39 / span 20;
  background: rgba(var(--pure-white), 0.1);
  border-radius: 2.5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2vw;
  border-radius: 50px;
  box-shadow: -1px -1px 0px 0px #fff, 1px 1px 0px 0px #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.landing-brand-name {
  grid-row: 19 / span 6;
  grid-column: 23 / span 36;
  font-size: 7vw;
}

.landing-tagline {
  grid-row: 16 / span 4;
  grid-column: 23 / span 25;
  font-size: 1.25vw;
  padding-left: 0.5vw;
}

.landing-left {
  grid-row: 1 / span 40;
  grid-column: 1 / span 40;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 0;
}

.left-cargo-box {
  position: relative;
  grid-row: 6 / span 25;
  grid-column: 2 / span 19;
  background: rgb(var(--pure-black));
  border-radius: 2.5vw;
  flex-direction: column;
}

.left-cargo-box-image {
  width: 90%;
  height: 55%;
  border-radius: 2vw;
  background: url("/mark-adriane-1533MrY5liQ-unsplash.jpg");
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  overflow: hidden;
}

.left-cargo-slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left-cargo-slideshow-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left-cargo-slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-cargo-box-buttons {
  width: 90%;
  height: 20%;
  position: relative;
}

.left-cargo-box-buttons-row1 {
  width: 100%;
  height: 50%;
  position: relative;
  justify-content: space-between;
}

.left-cargo-box-buttons-row2 {
  width: 100%;
  height: 50%;
  position: relative;
  justify-content: space-between;
}

.left-cargo-box-buttons-row1-button1 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
}

.left-cargo-box-buttons-row1-button2 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
}

.left-cargo-box-buttons-row1-button3 {
  position: relative;
  width: 20%;
  height: 80%;
  background-color: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
}

.left-cargo-box-buttons-row2-button1 {
  position: relative;
  width: 20%;
  height: 80%;
  background-color: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
}

.left-cargo-box-buttons-row2-button2 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
}

.left-cargo-box-buttons-row2-button3 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
}

.left-cargo-box-stats {
  width: 90%;
  height: 10%;
  background-color: rgb(var(--blue));
  border-radius: 2.5vw;
}

.left-cargo-heading {
  grid-row: 32 / span 7;
  grid-column: 2 / span 20;
  background: rgba(var(--pure-white), 0.1);
  border-radius: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: -1px -1px 0px 0px #fff, 1px 1px 0px 0px #ffffff;
  padding: 2vw;
}

.left-cargo-explore {
  position: relative;
  grid-row: 26 / span 13;
  grid-column: 23 / span 10;
  border-radius: 2.5vw;
  cursor: pointer;
}

.left-cargo-text {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.left-cargo-button {
  margin-bottom: 2vw;
  width: 8vw;
  aspect-ratio: 1/1;
  border: 0.2vw solid rgb(var(--pure-white));
  border-radius: 50%;
  color: rgb(var(--pure-white));
  font-size: 1vw;
  z-index: 1;
}

.nausean-svg {
  overflow: visible;
}

.nausean-image {
  transition: transform 0.3s ease-out;
  transform: scale(1.1);
}

.nausean-svg:hover .nausean-image {
  transform: scale(1);
}

.landing-right {
  grid-row: 1 / span 40;
  grid-column: 41 / span 40;
  display: grid;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(40, 1fr);
  gap: 0;
}

.right-suits-box {
  grid-row: 14 / span 25;
  grid-column: 21 / span 19;
  background: rgb(var(--pure-black));
  border-radius: 2.5vw;
  flex-direction: column;
  position: relative;
}

.right-suits-box-image {
  position: relative;
  width: 90%;
  height: 55%;
  border-radius: 2vw;

  background: url("/pexels-jos-penaran-927928177-27240488.jpg");
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.right-suits-slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-suits-slideshow-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.right-suits-slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-suits-box-buttons {
  width: 90%;
  height: 20%;
  position: relative;
}

.right-suits-box-buttons-row1 {
  width: 100%;
  height: 50%;
  position: relative;
  justify-content: space-between;
}

.right-suits-box-buttons-row2 {
  width: 100%;
  height: 50%;
  position: relative;
  justify-content: space-between;
}

.right-suits-box-buttons-row1-button1 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--orange));
  border-radius: 100vw;
  cursor: pointer;
}

.right-suits-box-buttons-row1-button2 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--orange));
  border-radius: 100vw;
  cursor: pointer;
}

.right-suits-box-buttons-row1-button3 {
  position: relative;
  width: 20%;
  height: 80%;
  background-color: rgb(var(--orange));
  border-radius: 100vw;
  cursor: pointer;
}

.right-suits-box-buttons-row2-button1 {
  position: relative;
  width: 20%;
  height: 80%;
  background-color: rgb(var(--orange));
  border-radius: 100vw;
  cursor: pointer;
}

.right-suits-box-buttons-row2-button2 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--orange));
  border-radius: 100vw;
  cursor: pointer;
}

.right-suits-box-buttons-row2-button3 {
  position: relative;
  width: 35%;
  height: 80%;
  background-color: rgb(var(--orange));
  border-radius: 100vw;
  cursor: pointer;
}

.right-suits-box-stats {
  width: 90%;
  height: 10%;
  background-color: #f95700;
  border-radius: 2.5vw;
}

.right-suits-heading {
  grid-row: 6 / span 7;
  grid-column: 21 / span 19;
  background: rgba(var(--pure-white), 0.1);
  border-radius: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: -1px -1px 0px 0px #fff, 1px 1px 0px 0px #ffffff;
  padding: 2vw;
}

.right-suits-explore {
  position: relative;
  grid-row: 6 / span 10;
  grid-column: 11 / span 8;
  border-radius: 2vw;
  cursor: pointer;
}

.right-suits-text {
  position: absolute;
  bottom: 0;
  left: 0;
}

.right-suits-button {
  margin-bottom: 2vw;
  width: 6.5vw;
  aspect-ratio: 1/1;
  border: 0.2vw solid rgb(var(--pure-white));
  border-radius: 50%;
  color: rgb(var(--pure-white));
  font-size: 0.875vw;
  z-index: 1;
}
