.primary-button {
  width: 11vw;
  height: 7vh;
  font-size: 1.25vw;
  justify-content: center;
    border:0.5vh solid rgb(var(--dark-olive));
  background-color: rgb(var(--light-olive));
  border-radius: 100vw;
  color: rgb(var(--dark-olive));
}
