nav {
  z-index: 10;
  width: 100vw;
  height: 12.5vh;
  position: fixed;
  top: 0;
  background: transparent;
  grid-template-columns: repeat(40, 1fr);
  display: grid;
  align-items: center;
}

.navigate {
  grid-column: 3 / span 15;
  background-color: rgb(var(--pure-black));
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875vw;
  color: rgb(var(--light-olive));
}

.nav-home {
  background-color: rgb(var(--light-olive));
  width: 15%;
  height: 80%;
  color: rgb(var(--pure-black));
}

.nav-na {
  /* background-color: rgb(var(--light-olive)); */
  width: 28%;
  height: 80%;
}

.nav-mc {
  /* background-color: rgb(var(--light-olive)); */
  width: 25%;
  height: 80%;
}

.nav-ls {
  /* background-color: rgb(var(--light-olive)); */
  width: 30%;
  height: 80%;
}

.nav-search {
  grid-column: 21 / span 11;
  border: 0.5vh solid rgb(var(--pure-black));
  height: 60%;

  background-color: rgb(var(--light-olive));
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 0.875vw;
  color: rgba(var(--pure-black), 1);

  /* filter: invert(1); */
}

.nav-credentials {
  grid-column: 33 / span 6;
  background-color: rgb(var(--pure-black));
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1vw;
  color: rgb(var(--off-white));
}

.nav-c-login {
  color: rgb(var(--pure-black));
  background-color: rgb(var(--light-olive));
  width: 48%;
  height: 85%;
}

.nav-c-signup {
  color: rgb(var(--light-olive));
  /* background-color: rgb(var(--light-olive)); */
  width: 48%;
  height: 85%;
}
