.products-sidebar {
  width: 16.5vw;
  height: 100vh;
  background-color: rgb(var(--pure-white));
  color: rgb(var(--pure-black));
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  pointer-events: all;
}

.scrollable-sidebar{
  height: 100%;
  overflow-y: auto;
  flex: 1;
}

.scrollable-sidebar::-webkit-scrollbar{
  display: none;
}

.psb-top-buffer{
  width: 100%;
  height: 12.5vh;
  border-bottom: 0.1vw solid rgb(var(--pure-black));
  /* background-color: rgb(var(--pure-white)); */
}

.psb-info {
  width: 100%;
  height: 10vh;
  padding: 5% 10% 0% 10%;
}

.psb-info-slug {
  font-weight: 200;
  font-size: 0.8vw;
}

.psb-info-total {
  padding-top: 2.5%;
  font-size: 1.15vw;
  color: rgb(var(--off-text));
}

.psb-filters {
  width: 100%;
  height: auto;
}

.psb-filters-header {
  width: 100%;
  height: 5vh;
  font-size: 1vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 0.1vw solid rgb(var(--pure-black));
  padding: 0% 10% 0% 10%;
}

.psb-filters-brand {
  width: 100%;
  height: auto;
  padding: 5% 10% 10% 10%;
  border-bottom: 0.1vw solid rgb(var(--pure-black));
  font-size: 1vw;
}

.psb-filters-brand-header {
  padding-bottom: 5%;
}

.psb-filters-brand-name {
  display: flex;
  align-items: center;
  position: relative;
}

.psb-filters-checkbox{
    accent-color: rgb(var(--off-text));
    width: 1vw;
    height: 1vw;
}
/* .psb-filters-checkbox {
  appearance: none;
  background: transparent;
  border: 0.1vw solid rgb(var(--off-white));
  width: 1vw;
  aspect-ratio: 1/1;
  cursor: pointer;
  position: relative;
}

.psb-filters-checkbox:checked {
  background-color: rgb(var(--off-white));
}

.psb-filters-checkbox:checked::before {
  content: "✔";
  color: rgb(var(--dark-olive));
  font-size: 1vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

.psb-filters-brand-quantity {
  font-size: 0.8vw;
}

.psb-filters-price {
  width: 100%;
  height: auto;
  padding: 5% 10% 5% 10%;
  border-bottom: 0.1vw solid rgb(var(--pure-black));
}

.psb-filters-price-header {
  height: 3vh;
  font-weight: 600;
  font-size: 1vw;
  padding-bottom: 15%;
}

.psb-filters-price-slider {
  height: 3vh;
  position: relative;

  display: flex;
  align-items: center;
}

.psb-filters-price-text {
  height: 3vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875vw;
  font-weight: 600;
}

.psb-filters-price-slider input[type="range"] {
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 1vh;
  background: none;
  appearance: none;
  z-index: 2;
}

.psb-filters-price-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 3;
  width: 1vw;
  aspect-ratio: 1/1;
  background: rgb(var(--blue));
  border-radius: 100vw;
  cursor: pointer;
  -webkit-appearance: none;
}

.psb-filters-price-slider .range-track {
  position: absolute;
  left: 0;
  right: 0;
  height: 0.5vh;
  background: rgb(var(--blue));
  z-index: 1;
}

.psb-filters-color {
  width: 100%;
  height: auto;
  padding: 5% 10% 5% 10%;
  border-bottom: 0.1vw solid rgb(var(--pure-black));
  font-size: 1vw;
}

.psb-filters-color-header {
  height: 3vh;
  font-weight: 600;
  font-size: 1vw;
  padding-bottom: 20%;
}

.psb-filters-color-checkboxes {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.psb-filters-color-name {
  flex-shrink: 0;
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  height: 2vh;
  border-radius: 100vw;
  margin-bottom: 1.5vh;
}

.psb-filters-discount {
  width: 100%;
  height: auto;
  padding: 5% 10% 10% 10%;
  border-bottom: 0.1vw solid rgb(var(--pure-black));
}

.psb-filters-discount-header {
  height: 3vh;
  font-weight: 600;
  font-size: 1vw;
  padding-bottom: 20%;
}

.psb-filters-discount-title {
  display: flex;
  align-items: center;
  font-size: 1vw;
  position: relative;
}

.psb-filters-discount-title input[type="radio"]{
    accent-color: rgb(var(--off-text));
    width: 1vw;
    height: 1vw;
}

.psb-filters-apply {
  width: 100%;
  height: auto;
  padding: 10% 10% 10% 10%;
  border-bottom: 0.1vw solid rgb(var(--pure-black));
}

.psb-filters-apply-header {
  height: 4vh;
  font-weight: 600;
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.psb-filters-apply-header-cancel{
  width: 5vw;
  height: 4vh;
  background-color: rgb(var(--yellow));
  border-radius: 100vw;
  font-weight: 400;
  font-size: 0.875vw;
  cursor: pointer;
}

.psb-filters-apply-header-apply{
  font-size: 1.25vw;
  cursor: pointer;
}